.page-body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open-Sans', sans-serif;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
/* header */
.header-nav-container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;

    color: #FFFFFF;

    background-color: #313131;
}

.logo {
    width: 189px;
    margin-left: 16px;

    font-size: 22px;
    font-weight: 700;
}

.logo a {
    display: flex;

    justify-content: space-evenly;
}

.header-nav-part {
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 38%;

    margin: 27px 0;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
}

.header-nav-part-item:hover {
    color: #14B9D5;
}

.search {
    background-color: #000000;
}

.search-sign {
    margin: 26px;
}

.header-introduction {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    background: url("../images/header/header-background.png");
    /*height: 369px;*/
    color: #FFFFFF;
}

.header-title {
    line-height: 37px;
    font-size: 27px;
    font-weight: 700;

    margin: 164px auto 44px;
}

.header-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 55px;
    margin-bottom: 74px;

    font-size: 18px;
    font-weight: 600;
}

.header-button-item {
    width: 170px;
    align-self: stretch;
    border-radius: 4px;
    padding: 17px 0;
    text-align: center;
}

.header-button-item:nth-child(1) {
    margin-right: 20px;
}

.btn-green {
    background: #89CA62;
}

.btn-blue {
    background: #14B9D5;
}

/* Most popular posts */
.most-popular-posts {
    background: #F2F2F2;
    padding: 49px 0 72px;
}

.most-popular-posts-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    height: 855px;
}

.most-popular-posts-title {
    text-align: center;
    font-size: 27px;
    font-weight: 700;
    color: #18B4CF;
    margin-bottom: 52px;
    text-transform: uppercase;
}

.most-popular-posts-img {
    width: 100%;
}

.post-title {
    width: 100%;
    padding: 21px 23px;
    font-size: 18px;
    font-weight: 700;
}

.most-popular-posts-post {
    margin: 0 30px 30px 0;
    background: #FFFFFF;
}

.most-popular-posts-post:nth-child(4) {
    margin-bottom: 0;
}

.most-popular-posts-post:nth-child(5) {
    margin-right: 0;
}

.most-popular-posts-post:nth-child(6) {
    margin-right: 0;
    margin-bottom: 0;
}

/* Our most popular clients */

.our-most-popular-clients {
    background: url(../images/our_most_popular_clients/ourMostPopularClientsBackground.png);
    padding: 108px 0 191px;
}

.our-most-popular-clients-container {
    max-width: 48%;
    margin: 0 auto 0;

    display: grid;
    gap: 0 58px;

    grid-template: repeat(3, auto) / repeat(4, 1fr);

    justify-items: center;
    align-items: center;
}

.popular-clients-title {
    grid-column: 1 / -1;

    line-height: 44px;
    font-size: 32px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;

    text-align: center;
}

.popular-clients-separator-line {
    grid-column: 1 / -1;

    border: none;
    height: 3px;
    width: 60px;
    background-color: #14B9D5;
    margin: 87px auto 106px;
}

/* Top rated */
.top-rated {
    display: grid;
    grid-template: 1fr 190px / repeat(7, 1fr);

    justify-items: center;
    align-items: center;
    gap: 0;
}

.top-rated-title {
    grid-column: 1 / -1;

    line-height: 37px;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
    color: #14B9D5;

    margin: 49px 0 52px;
}

/*Hot news*/
.hot-news {
    padding:49px 0 71px;
}

.hot-news-section-title {
    margin: 0 0 52px;
    text-align: center;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    color: #18B4CF;
}

.hot-news-container {
    display: grid;
    grid-template: repeat(4, auto)/ repeat(4, 1fr);

    gap: 44px 60px;
    justify-items: center;

    align-items: start;
}

.hot-news-post-link {
    background: #F9F7F7;
    display: block;
}
.hot-news-post-description{
    padding: 0;
}

.other-padding-how-news {
    padding: 0 14px 0 0;
}

.hot-news-post-title {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
    color: #353A3D;
    margin: 12px 0 15px;
}

.text-align-center {
    text-align: center;
    margin: 14px 0 0;
}

.hot-news-post-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    text-align: right;
}

.grid-flow-column {
    display: grid;
    grid-template: 1fr / 1fr 1fr;
}

.hot-news-posts-item {
    width: 100%;
}

.hot-news-post-link:nth-child(1) {
    grid-column: 1 / -2;

    align-self: start;
}

.hot-news-post-link:nth-child(3) {
    grid-column: 1 / 3;
}

.hot-news-post-link:nth-child(4) {
    grid-column: 3 / 5;
}

.hot-news-post-link:nth-child(5) {
    grid-column: 1 / 3;
}

.hot-news-post-link:nth-child(6) {
    grid-column: 3 / 5;
}

.hot-news-post-link:nth-child(8) {
    grid-column: 2 / 5;
}

.special-margin-text {
    margin: 14.5px 24px 28.5px 0;
}

.special-title-margin {
    margin-top: 41px;
    margin-right: 25px;
}

.special-title-margin-no-description {
    margin: 11px 27px 11px;
}

/* footer */
.body__footer {
    background: #000000;
    padding: 30px 0;
}

.footer-container {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);

    justify-items: start;
    align-items: center;
}

.footer-copyright {
    color: #ffffff;
    font-size: 13px;
    text-align: center;
}

.footer-logo {
    justify-self: end;

    display: flex;
    align-items: start;
}

.footer-logo:first-child {
    margin-right: 3px;
}

